body{
    background-color: black;
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:hover .tel{
    content: url("../img/telephone2.png");
    transform: scale(1.15) ;
}