body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(238, 246, 247);
    margin: 0;
    height: 100vh;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    background-color: rgb(71, 71, 71);
    color: #fff;

    padding-left: 1rem;
    text-align: left;


    width: 100%;
    position:fixed;
    bottom: 0;
}